<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <p>xxx: <input type="text" name="new_team"></p>
     <input type="submit">
   </form>
 </body>
</html>
